* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.main {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.left-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #fff;
}

.form h1 {
    width: 220px;
    font-size: 20px;
    margin-bottom: 10px
}

.right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: #EBEDEC;
}

.right-part-header {
    width: 80%;
    margin-bottom: 5%;
}

.right-part-login {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 220px;
    margin-bottom: 1%;
}

.login-form-row input {
    height: 18px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 5%;
    width: 220px;
    margin-bottom: 1%;
}

.button a{
    font-size: 10px;
}

#registration-button {
    width: 100px;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: #f3d64a;
    font-family: "Signika Regular", serif;
    padding: 5px;
    border: none;
    font-size: 10px;
    border-radius: 10px;
}



#login-button {
    width: 60px;
    height: 20px;
    margin-bottom: 5px;
    background-color: #f3d64a;
    font-family: "Signika Regular", serif;
    padding: 5px;
    border: none;
    font-size: 10px;
    border-radius: 10px;
}

#login-button:hover,#registration-button:hover {
    background-color: #8C8F91;
    color: white;
    cursor: pointer;
}
.right-part p {
    font-family: Signika Regular, Arial, Helvetica, sans-serif;
    font-size: 8px;
    text-indent: initial;
}

.login-form-row {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;

}
.login-form-row label {
    display: flex;
    color: white;
    width: 50%;
    background-color: #8C8F91;
    margin-bottom: 10px;
    border-left: 5px #FDC125 solid;

}

.login-form-row input {
    width: 50%;
    background-color: #D3D5D4;
    border: none;
}

.email:focus,.password:focus,.lName:focus,.fName:focus,.gender:focus {
    background-color: white;
    outline: none;
}

.password:focus {
    background-color: white;
    outline: none;
}

.form {
    margin-left: 10px;
}

.form-paragraph {
    width: 220px;
    margin-left: 10px;
}