.lecturers{
    width: 400px;
    border: black solid 1px;
    margin-top: 10px;
}

.invert{
    background-color: #0D3C5B;
    color: #F5BE11;
    font-size: 15px;
    height: 30px;
    font-weight: bold;
}
